@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}
/*Body*/
body {
	font-family: sans-serif;
}
/* Wrapper */
.wrapper{
	width: 95%;
	margin: 0 auto;
}
h1 {
	display: inline-block;
	padding-bottom: 5px
}
nav{
	float: right;
	display: inline-block;
}
nav ul li {
	display: inline-block;
	list-style-type: none;
}
nav a {
	text-decoration: none;
	padding: 27px 14px;
	color: #000;
}
/*Banner*/
.banner {
  width: 100%;
  background: url("../images/1400x580.png");
  height: 580px;
}
/*Main*/
main {
  background-color: #1d171e;
}
/*Main Wrapper*/
main .wrapper {
  width: 88%;
}
.bride-section {
  position: relative;
}
/*Bride Section*/
.bride-section h2 {
  color: #fff;
  font-size: 75px;
  font-weight: bold;
  width: 57%;
  float: right;
  position: absolute;
  bottom:12.5%;
  right: 5%;
}
.bride-section img {
  border-radius: 50%;
  padding: 7.5% 0;
}
/*Welcome Section*/
section {
  background:  url(../images/1400x660.png) no-repeat;
  height: 660px;
}
section h2 {
  font-size: 75px;
  font-weight: bold;
  color: #fff;
  width: 75%;
  padding: 26% 0 0 5%;
}
/*Architectural-Section*/
.architecture-section {
  position: relative;
}
/*Bride Section*/
.architecture-section h2 {
  color: #fff;
  font-size: 75px;
  font-weight: bold;
  width: 57%;
  float: right;
  position: absolute;
  bottom:12.5%;
  right: 5%;
}
.architecture-section img {
  border-radius: 50%;
  padding: 7.5% 0;
}
/*News-Feed*/
.news-feed {
overflow: hidden;
padding-top: 5%;
}
.news-feed_title {
  display: inline-block;
}
.news-feed_title a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}
.news-feed_title h3 {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  width: 20%;
  padding: 10px 0;
}
.news-feed_slider {
  display: inline-block;
  float: right;
  width:65%;
}
.news-feed_slider_content li {
  list-style-type: none;
  display: inline-block;
}
.news-feed_slider_content li a{
  text-decoration: none;
  color: #989399;
}
.pseudo:after {
  content: "3 days ago.";
}
.news-feed_slider_content h3 {
  text-align: left;
  color: #989399;
  font-size: 30px;
  padding: 30px 0;
}
.news-feed_slider_pointer li{
  display: inline-block;
  list-style-type: none;
  padding-bottom: 10%;
}
.news-feed_slider_pointer li:first-child{
  padding-left: 20%;
}
.news-feed_slider_pointer li a{
  text-decoration: none;
  color: #fff;
  font-size: 8px;
  padding: 0 10px;
}
/*Footer*/
footer {
  border-top: 1px solid #fff;
  background-color: #1d171e; 
  color: #fff;
  overflow: auto;
}
span {
  display: inline-block;
  font-size: 14px;
  padding-right: 25%;
}
.social-connects {
  text-align: center;
  display: inline-block;
}
.social-connects li {
  list-style-type: none;
  display: inline-block;
}
.social-connects li a {
  text-decoration: none;
  color: #989399;
  padding: 20px;
  font-size: 18px;
}
.footer-nav {
  display: inline-block;
  float: right;
}
.footer-nav li {
  list-style-type: none;
  display: inline-block;
  padding: 20px 10px;
}
.footer-nav li a {
  text-decoration: none;
  color: #fff;
}
footer p {
  width: 45%;
  text-align:center;
  margin: 0 auto;
  padding: 20px;
  color: #989399;
  font-size: 12px;
}
/*Completed*/